.section-tab {
  .add-button {
    margin-bottom: 10px;
  }
  .edit-div {
    .button-row {
      margin-bottom: 10px;
    }
  }
  .cover-img {
    width: 100px;
    height: 100px;
  }
  .pagination {
    float: right;
    padding-top: 10px;
  }
}